
.see-task{
    display: flex;
    flex-wrap: wrap;

    .todoList{
        width: 100dvh;
        color: #4B5550;

        .taskItem {
            display: flex;
            align-items: center;
            margin: 10px 0;

            
            .taskText {
                width: 95%;
                margin-left: 10px;
                word-wrap: break-word;

                hr{
                    justify-self: center;
                    min-width: 100%;
                    background-color: #c7fae4;
                }

                h3, p {
                    color: #4B5550;
                }
            }

            .completedCheckbox {
                background-color: #c3fbe3c2 ;
                border-color: #c7fae4;
                margin-right: 10px;
                min-width: 25px;
                
            }

            .deleteIcon{
                width: 30px;
                height: 30px;
                cursor: pointer;
                transition: all 0.3s ease;

                &:hover{
                    filter: saturate(0.7);
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                }
            }

        &.completed {
            .completedCheckbox{
                background-color: #FF5741;
            }
            .taskText {
                h3, p {
                    text-decoration: line-through;
                    color: #3765539c; 
                }
            }
        }
    }
}
}
